.faculty {
  padding: 20px;
}

.faculty h2 {
  margin-bottom: 10px;
}

.faculty ul {
  list-style-type: none;
  padding: 0;
}

.faculty li {
  background-color: #ecf0f1;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}